.time-stamp {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    > label {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        margin-top: -85px;
        text-align: center;
        color: white;
        font-size: 120px;
        font-family: 'open sans', sans-serif;
        font-weight: 300;
        white-space: nowrap;
    }
}
